
    <div class="col-3">
        <div class="row">
            <% if @account.avatar.attached?%>
                
                <%= image_tag @account.avatar,  size: "150x250" %>
            <% else %>
                <%= image_tag 'avatar_filler.jpg', size: "150x200"%>
            <% end %>
        </div>
        <br>
        <div class="row">
        <%= form_with url: '/avatar' do |form| %>
            <div id='errors_avatar'></div>
            <%= form.file_field :avatar, class: "form-control" %>
            <br><br>
            <p><%= form.submit("Загрузить аватар",class: "form-control", id: 'btn') %></p>
        <% end %>
        </div>
    </div>
    <div class="col  overflow-hidden d-grid gap-6" id='stat_info' >
        <div class="row">
            <div class="col-4">
                <h2>Имя пользователя: </h2>
            </div>
            <div class='col-auto', id='name_edit'>
                <%= render 'name_normal_edit' %>  
            </div>
            <div class="col", id="name">
                <%= render 'name_normal' %>  
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <h2>Статус: </h2>
            </div>
            <div class="col-auto">
                <h3><%= @account.role %></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <h2>Описание: </h2>
                <div id='change_desc'></div>
            </div>
          
                <div class='col-auto' id='desc_edit'>
                <%= render 'desc_normal_edit' %>  

                </div>
                <div class="col" id='desc'>
                    <%= render 'desc_normal' %>  
                </div>
        
    </div>