
    <div class="col-3">
        <div class="row">
            <% if @account.avatar.attached?%>
                <%= image_tag @account.avatar, size: "175x200"%>
            <% else %>
                <%= image_tag 'avatar_filler.jpg', size: "150x200"%>
            <% end %>
        </div>
        <br>
        <div class="row">
        <%= form_with url: '/avatar' do |form| %>
            <%= form.file_field :avatar %>
            <br><br>
            <p><%= form.submit("Загрузить аватар", id: 'btn') %></p>
        <% end %>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col-5">
                <h2>Имя пользователя: </h2>
                <%= form_with url: '/modal?name=1' do |form| %>
                    <%= form.submit("Изменить", id: 'btn') %>
                <% end %>
                <div id='change_name'></div>
            </div>
            <div class='col-auto'><%= image_tag 'edit.png', size: "15x15"%></div>
            <div class="col">
                <h3><%= @account.name %></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <h2>Статус: </h2>
            </div>
            <div class="col-5">
                <h3><%= @account.role %></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <h2>Описание: </h2>
                <%= form_with url: '/modal?name=2' do |form| %>
                    <%= form.submit("Изменить", id: 'btn') %>
                <% end %>
                <div id='change_desc'></div>
            </div>
            <div class='col-auto'>
                <%= form_with url: '/modal?name=2' do |form| %>
                        <%= form.submit(type: :image, src: asset_path('edit.png'), height: "20", id: 'btn') %>
                    <% end %>   
            </div>
            <div class="col">
            
                <% if @account.description %>
                    <p><%= @account.description %></p>
                <% else %>
                    <p>Здесь пока ничего нет</p>
                <% end %>
            </div>
        </div>
    </div>






