<% if input.status == "hidden" %>
    <div class="row bg-warning" style="border:1px solid #cecece;">
<% else %>
    <div class="row" style="border:1px solid #cecece;">
<% end %>
    <div class="col-auto p-3" >
        <%= image_tag input.account.avatar, class: "circular_image mx-auto"%>
    </div>
    <div class="col p-2">
        <div class="row">
            <% if input.priority == "important" %>
                <div class="col-auto">
                    <h1>ВАЖНО!!!<h1>
                </div>
            <% end %>
            <div class="col">
                <h5>
                    <a class="link-dark" href=<%= "/section/#{params[:id]}/topic/#{input.id}" %>> <strong><%= input.title %></strong> </a>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <p> <em> <%= input.account.name %> </em> <p>
            </div>
            <div class="col-auto g-0">
                <p> <em> <%= input.created_at %> </em> <p>
            </div>
        </div>

    </div>
    
    <div class="col-3 p-2 text-muted">
            <div class="row">
                <div class="col-4">
                    <p>Просмотрено: </p>
                </div>
                <div class="col-auto">
                    <p><%= View.all().where(topic_id: input.id).size %></p>
                </div>
            </div>
            <div class="row ">
                <div class="col-4">
                    <p>Ответов: </p>
                </div>
                <div class="col-auto">
                    <p><%= input.messages.size %></p>
                </div>
            </div>
        </div>

    <div class="col-auto p-2">
            <div class="row">
                <div class="col-auto">
                   <p> Последнее от: <%= input.messages.first.account.name %> </p>
                </div>
            </div>
            <div class="row text-muted">
                <div class="col-auto">
                    <%= input.messages.last.account.created_at %>
                </div>
            </div>

            <% if @hidder && input.status != "hidden" %>
                <%= form_with url: "/hide/#{input.id}", method: :post do |form| %>
                    <%= form.submit("Скрыть", class: "btn btn-warning", id: 'btn') %>
                <% end %>
            <% end %>

            <% if input.status == "hidden" %>
                <%= form_with url: "/show/#{input.id}", method: :post do |form| %>
                    <%= form.submit("Показать", class: "btn btn-success", id: 'btn') %>
                <% end %>
            <% end %>
        </div>
</div>